.DetailsRec {
  display: flex;
  padding: 0.15rem;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    list-style: none;
    width: 48%;
    height: 1.5rem;
    .img {
      width: 100%;
      height: 1rem;
      border-radius: .08rem;
      img {
        width: 100%;
        height: 100%;
        border-radius: .08rem;
      }
    }
    .title {
      p {
        margin: 0;
        font-size: .12rem;
        height: 0.35rem;
        overflow: hidden;
        position: relative;
      }
      ::before {
        content: '...';
        position: absolute;
        width: .16rem;
        bottom: 0;
        right: 0;
        background: transparent;
      }
      //height: 0.35rem  /* 30/100 */;

    }

  }
}
