:global(a) {
    color: #757575
}
.tab {
    white-space: nowrap;
    /* height: 45px; */
    line-height: 45px;
    font-size: 16px;
    overflow-y: hidden;
    color: #757575;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 99;
    padding-right: 30px;
    background: white

}
.tab .table-item {
    padding-left: 14px;
    padding-right: 14px;
    display: inline-block; 
}
.tab .active{
    color: #fb7299
}
.tab .btn{
    background-color:white; 
    width: 26px;
    height: 26px;
    position: absolute;
    top: 60px;
    right: 0px;
}
.tab .btn svg{
    background-color:white; 
    position: fixed;
    top: 60px;
}
:global(.uls) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 12px;
}
:global(.jiantou) {
    width: 100%;
    display: flex;
    justify-content: center
}
:global(.List){
    width: 100%;
    overflow: hidden;
    z-index: 9;
    background: white;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 99;
    color: #757575;
    font-size: 14px
}
:global(.lis){
    padding: 13px 11px;
    list-style: none;
}